.footer {
  background-color: #343a40;
  color: white;
  padding: 40px 0;
  display:block;
}
.footer a {
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-logo {
  width: 150px;

  height: auto;
  margin-bottom: 20px;
}
.social-icons a {
  margin: 0 10px;
  color: white;
}
.social-icons a:hover {
  color: #007bff;
}
.social-icons svg {
  width: 30px;
}
a{
  text-decoration: none;
  font-weight: bold;
}
img{
  border: 0 solid;
  border-radius: 50%;
}

