<div class="container my-5">
  <div class="row">
    <!-- Product Image Section -->
    <div class="col-md-10">
      <div class="product-image">
        <img [src]="product.imageUrl" class="img-fluid" [alt]="product.name">
      </div>
    </div>
    <!-- Product Details Section -->
    <div class="col-md-10">
      <div class="product-details">
        <h1 class="product-title">{{ product.name }}</h1>
        <div class="product-rating">
          <!-- Add star rating icons here -->
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">☆</span>
          <span class="reviews-count">({{ product.rating }})</span>
        </div>
        <p class="product-price">${{ product.price }}</p>
        <p class="product-description">{{ product.description }}</p>
        <div class="product-actions">
          <button class="btn btn-primary btn-lg" *ngIf="!isProductInCart()" (click)="addToCart()">Add to Cart</button>
          <div *ngIf="isProductInCart()" class="d-flex align-items-center col-4">
            <button class="btn btn-primary" (click)="addToCart()">+</button>
            <span class="mx-2 col-3 justify-content-center text-black font-weight-bold">{{ getProductQuantity() }}</span>
            <button class="btn btn-danger " (click)="removeFromCart()">-</button>
          </div>
          <button class="btn btn-outline-secondary btn-lg" (click)="renderToCart()">Buy Now</button>
        </div>
        <div class="product-details">
          <h2>Product Details</h2>
          <ul>
            <li><strong>Brand:</strong> {{ product.brand }}</li>
            <li><strong>Category:</strong> {{ product.category }}</li>
            <li><strong>Availability:</strong> {{ product.stock ? 'In Stock' : 'Out of Stock' }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
